html {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

html {
    background-color: rgb(146, 233, 233);
}

body {
    width: 600px;
    margin: 10% auto;
    background-color: lightcyan;
    padding: 20px;
    border: 2px solid black;
}

h1 {
    font-size: large;
    text-align: center;
    margin:  0;
    padding: 20px 0;
    text-shadow: 1px 1px 1px black;
}